@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*  {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
    /* border: 1px solid red; */
    font-family: 'Poppins', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #D9AFD9;
    background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
}

.todo-block {
    margin-top: 120px;
    min-width: 44rem;
    max-width: 50rem;
    margin-bottom: 40px;
}

.form-todo {
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4.5rem;
    width: 100%;
    margin-bottom: 1rem;
}

.todo-input {
    width: 90%;
    padding: 20px 10px;
    outline: none;
    height: 100%;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 1px solid cornflowerblue;
}

.todo-input:focus {
    border: 1.5px solid cornflowerblue;
}

.todo-add-btn {
    flex: 1;
    color: #fff;
    background-color: cornflowerblue;
    height: 100%;
    border: none;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    cursor: pointer;
}

.todo-add-btn:focus {
    opacity: 0.9;
}

.mission-block {
    width: 100%;
    color: #fff;
}

.mission-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 4px 0px 4px 8px;
    height: 4.4rem;
    background-color: #739eee;
    /* background-color: #739eee;
    background-image: linear-gradient(135deg, #739eee 0%, #9485e7 100%); */
    margin-top: 12px;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    position: relative;
    cursor: pointer;
}

.check-icon {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    position: absolute;
    left: -40px;
    display: none;
    
}

.check-icon.done {
    display: block;
    animation: fadeIn 0.2s linear;
    -webkit-animation: fadeIn 0.2s linear;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    50% {
        transform: translateY(-20px);
        -webkit-transform: translateY(-20px);
        -moz-transform: translateY(-20px);
        -ms-transform: translateY(-20px);
        -o-transform: translateY(-20px);
}
    100% {
        opacity: 1;
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
}
}

.mission-text {
    font-size: 1.4rem;
    line-height: 2rem;
    max-width: 36rem;
    max-height: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.delete-icon {
    display: flex;
    align-items: center;
    height: 4.4rem;
    font-size: 2rem;
    padding: 12px;
    cursor: pointer;
    background-color: rgb(251, 79, 79);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
